@charset "ISO-8859-1";
@font-face {
  font-family: Report;
  src: url(../fonts/Report.otf);
}

body{
	font-family: Report;
	font-size: 3vh;
	width: 100%;
	height: 100%;
	background-color: #EAEAEA;
	
}

:root {
	--rojo: #E60000;
	--azul: #74CEE4;
	--verde: #6FC191;
	--amarillo: #EDBF47;
	--gris: #d9d9d9;
	--gris-oscuro: #B5B5B5;
}

#content{
	width: 50%;
	background-color: white;
	margin-left: 25%;
	padding: 2vw;
	text-align: center;
	margin-top: 2.5vh;
}

h1{
	font-weight: normal;
}